/* Homepage */
.homepage {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
}

.homepage .header {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.homepage .body {
    width: 100%;
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First section */
.first-section {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: var(--color-white);  
    padding: 15vh 0 0 0;
}

.motto-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 5rem;
    animation: fadeInLeft 0.4s ease-out 0.4s both;
}

.motto-text > p {
    text-align: start;
    font-size: clamp(2rem, 5vw, 10vw);
}

.logo-pic {
    width: 50%;
    height: clamp(auto, auto, 60vh);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInRight 0.4s ease-out 0.4s both;
}

.logo-pic > img {
    width: clamp(25rem, 35vw, 100%);
    height: auto;
}


.bold-word {
    color: var(--color-yellow);
    font-weight: bold;
}

/* First section: animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Second section */
.second-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    scroll-snap-align: start;
    padding-top: 15vh;
}

.second-section > .line-divider {
  content: "";
  width: 60vw;
  max-width: 60%;
  height: 2px;
  background: var(--color-white);
  opacity: 0.95;
  border-radius: 1px;
}

.second-section h1 {
    color: var(--color-yellow);
    margin-top: 2rem;
    text-align: center;
    font-size: clamp(3vmin, 2rem, 4vmin);
    padding: 0rem 2rem 0rem 2rem;
}

.second-section svg {
    width: 50vmax;
    height: auto;
}

.description {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 1.5rem;
    width: 40%;
    height: 20%;
}

.description p {
    text-align: center;
    line-height: 2.5rem;
}

/* .description .ceva {
    content: '';
    height: 500px;
    width: 500px;
    float: right;
    shape-outside: polygon(48% 66%, 60% 39%, 64% 0, 75% 100%, 0 100%, 24% 85%);
} */

/* Second section: animations */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveLeft {
  from {
    transform: translate(0%, 0%)
  }
  to {
    transform: translate(-20vw, 0%)
  }
}

.animate-trans-left {
    animation: moveLeft 0.6s ease-out 0.3s both;
}

.animate-fade-out {
   animation: fadeOut 0.4s ease-out 0.4s both;
}

.animate-fade-in {
   animation: fadeIn 0.4s ease-out 0.4s both;
}

.component1 {
    fill: var(--color-yellow);
}

.component2 {
    fill: var(--color-blue);
}

.second-section svg path:hover {
    fill: black;
}

@media (max-width: 1110px) {
    .first-section {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .motto-text {
        width: 80%;
        padding: 0;
    }

    .motto-text > p {
        font-size: 4rem;
    }
}

@media (max-width: 720px) {
    .motto-text > p {
        font-size: clamp(2.7rem, 8vw, 10vw);
    }

    .logo-pic > img {
        width: clamp(18rem, 60vw, 100vw);
        height: auto;
    }
}
