/* Homepage */
.homepage {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
}

.homepage .header {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.homepage .body {
    width: 100%;
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First section */
.first-section {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: var(--color-white);  
    padding: 15vh 0 0 0;
}

.motto-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 7rem; /*5rem*/
    animation: fadeInLeft 0.4s ease-out 0.4s both;
}

.motto-text > p {
    text-align: start;
    font-size: clamp(2rem, 5vw, 10vw);
}

.logo-pic {
    width: 50%;
    height: clamp(auto, auto, 60vh);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInRight 0.4s ease-out 0.4s both;
}

.logo-pic > img {
    width: clamp(25rem, 35vw, 100%);
    height: auto;
}


.bold-word {
    color: var(--color-yellow);
    font-weight: bold;
}

/* First section: animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Second section */
.second-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    scroll-snap-align: start;
    padding-top: 15vh;
}

.second-section > .line-divider {
  content: "";
  width: 60vw;
  max-width: 60%;
  height: 2px;
  background: var(--color-white);
  opacity: 0.95;
  border-radius: 1px;
}

.second-section h1 {
    color: var(--color-yellow);
    margin-top: 2rem;
    margin-bottom: 6vh;
    text-align: center;
    font-size: clamp(3vmin, 2rem, 4vmin);
    padding: 0rem 2rem 0rem 2rem;
}

.second-section .main-components {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: clamp(60vh, 60vh, 60vh);
    /* max-height: 60vh; */
}

.second-section svg {
    /* width: 50vmax; */
    /* width: clamp(50vmax, 50vmax, 40%); */
    width: 60vh;
    height: auto;
    max-height: 60vh;
}

.description {
    /* font-size: 1.3vw; */
    font-size: 1.5rem;
    /* width: 40vw; */
    width: clamp(725px, 40vw, 40vw);
    height: auto;
    max-height: 25%;
    margin-left: -30vh;
    margin-top: -5%;
    visibility: hidden;
    /* overflow: hidden; */
}

.description p {
    text-align: center;
    line-height: 2rem;
    text-align: left;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    z-index: 0;
    /* margin: 5vh 0 10vh 0; */
}

.button-line {
    content: "";
    width: 25vw;
    height: 2px;
    background: var(--color-white);
    opacity: 0.95;
}

.yellow-button {
 display: inline-block;
 padding: 0.9rem 1.8rem;
 width: 20vw;
 height: 1vw;
 line-height: 1vw;
 /* height: clamp(20px, 5vh, 40px);
 line-height: clamp(35px, 5vh, 40px); */
 font-size: clamp(10px, 1.25rem, 2vw);
 font-weight: 700;
 color: white;
 border: 3px solid var(--color-yellow);
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 text-align: center;
}

.yellow-button::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 101%;
 background-color: var(--color-yellow);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.yellow-button:hover::before {
 transform: translateX(0);
}


/* .description .ceva {
    content: '';
    height: 500px;
    width: 500px;
    float: right;
    shape-outside: polygon(48% 66%, 60% 39%, 64% 0, 75% 100%, 0 100%, 24% 85%);
} */


/* Second section: animations */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInFirst {
  from {
    position: absolute;
  }
  to {
    position: static;
  }
}

@keyframes fadeInSecond {
    from {
      visibility: hidden;
    }

    to {
      visibility: visible;
    }
}

@keyframes moveLeft {
  from {
    transform: translate(0%, 0%)
  }
  to {
    transform: translate(-20vw, 0%)
  }
}

.animate-trans-left {
    animation: moveLeft 0.6s ease-out 0.3s both;
}

.animate-fade-out {
   animation: fadeOut 0.4s ease-out 0.4s both;
}

.animate-fade-in {
   animation: fadeInFirst 0.4s ease-out 0.7s both, fadeInSecond 0.6s ease-in 1s both;
}

.component1 {
    fill: var(--color-yellow);
}

.component2 {
    fill: var(--color-blue);
}

.second-section svg path:hover {
    fill: black;
}



@media (max-width: 1110px) {
    .first-section {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .motto-text {
        width: 80%;
        padding: 0;
    }

    .motto-text > p {
        font-size: 4rem;
    }

    /* .second-section .main-components {
        justify-content: start;
    } */

    .second-section svg {
        width: 50vw;
        height: auto;
    }

    .main-components .description {
        width: 625px;
        font-size: 1.3rem;
    }

}

@media (max-width: 720px) {
    .motto-text > p {
        font-size: clamp(2.7rem, 8vw, 10vw);
    }

    .logo-pic > img {
        width: clamp(18rem, 60vw, 100vw);
        height: auto;
    }
}


@media (max-width: 450px) {
    .yellow-button {
        width: 25vw;
        font-size: 3vw;
    }
}